#hamburger{
	margin-right: 35px;
}

body{
	margin: 0;
}

.mdc-toolbar__title{
	color: #FFF;
}

.hero{
	height: 100vh;
	text-align: center;
	background-image: url("/assets/poster1.jpg");
	background-size: cover;
	background-position: center;
}

h2{
	font-weight: 400;
	color: #FFF;
}

#facebook{
	background-color: #3b5998;
}

#twitter{
	background-color: #0084b4;
}

#github{
	color: #FFF;
	background-color: #000;
}

#linkedin{
	background-color: #0077B5;
}

#freecodecamp{
	background-color: #006400;
}

.social__button{
	margin: 7px;
}

#intro{
	font-weight: 300;
	font-size: 57px;
	margin-top: 150px;
	color: #FFF;
}

hr{
	width: 80%;
}

h1{
	font-weight: 300;
	color: #FFF;
	text-shadow: 2px 3px 1px #000;
}
.mdc-toolbar__section{
	min-width: unset;
}

#transparent{
	background-color: rgba(0,0,0,0);
}

.hero__content{
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		top: 100px;
	}

@media only screen and (max-width: 715px){
	.mdc-toolbar__section--align-end{
		display: none;
	}

	.hero__content{
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		top: 80px;
	}
	#intro{
		font-size: 45px;
	}
	h1{
		font-size: 25px;
	}
}